$body-color: slateblue;

* {
  box-sizing: border-box;
}

body {
  color: $body-color;
  font-family: sans-serif;

  .table-field {
    background-color: black;
    color: black;
    width: 800px;
    height: 800px;
  }

  th, td {
    background-color: white;
    padding: 0;
    height: calc(100% / 13);
  }

  .td-con {
    width: calc(100% / 13 * 1.8);
    height: calc(100% / 13 * 1.8);
  }

  .field {
    width: 13*50px;
    height: 13*50px;
    border: 1px solid gray;
    position: relative;
  }

  .cell {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
    margin-right: -1px;
  }

  .cell-color-top {
    position: absolute;
    height: 10px;
    width: 100%;
  }

  .cell-color-left {
    position: absolute;
    height: 100%;
    width: 10px;
  }

  .cell-color-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10px;
  }

  .cell-color-bottom {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
  }

  .cell-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bottom {
    .price {
      position: absolute;
      bottom: 5px;
      width: 100%;
      text-align: center;
    }
  }

  .left {
    .price {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }

  .top {
    .price {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }
  }

  .right {
    .price {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
}


